// Font
$font-default: 'GothamProRegular', sans-serif;
$font-medium: 'GothamProMedium', sans-serif;
$font-black: 'GothamProBlack', sans-serif;
$font-bold: 'GothamProBold', sans-serif;

// Colors
$color-body: #f1f3fa;
$color-default: #333;
$color-primary: #3bb3fe;
$color-link: #006ef4;
$color-danger: #ff5b5a;

$color-White: #fff;
$color-WhiteGrey: #ffffff4d;
$color-AthensGray: #e5e7ee;
$color-FrenchPass: #c8dffd;
$color-Zircon: #fafcff;
$color-Ghost: #c9ced6;
$color-Black: #000;
$color-Shark: #23272f;
$color-MineShaft: #373e41;
$color-Tundora: #454545;
$color-DodgerBlue: #4790fd;
$color-DodgerBlueDark: #1c76fd;
$color-BlueRibbon: #0362f0;
$color-Sail: #b3d4fc;
$color-Ghost: #c2c8d1;
$color-Comet: #515a6c;
$color-Orange: #fe5722;
$color-MountainMeadow: #1bce9b;
$color-RipeLemon: #f6d319;

$color-RGBA-White-8: rgba(255, 255, 255, 0.08);
$color-RGBA-Shark-32: rgba(35, 39, 47, 0.32);
$color-RGBA-Black-64: rgba(15, 14, 14, 0.64);
$color-RGBA-Blue-6: rgba(71, 144, 253, 0.06);
